nav {
	background-color: rgb(51, 51, 51);
}

.nav-item {
	color: rgba(153, 153, 153, 1);
}

.functional-navbar {
	background-color: rgba(169, 182, 204, 0.7);
}

body {
	background-color: #f0f3f7;
}

a {
	color: rgba(255, 255, 255, 0.7);
}

a:hover {
	color: rgba(255, 255, 255, 0.9);
}

.active-link {
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
	border-bottom: 3px solid #ffec67;
	padding-bottom: 30px;
}

.functional-navbar a {
	color: #333;
}

.functional-navbar a:hover {
	color: #999;
	text-decoration: none;

	border-bottom: 3px solid #ccc;
}

.instruction-icon {
	color: #ffec67;
}
