nav {
	background-color: rgb(51, 51, 51);
}

.nav-item {
	color: #333;
}

.functional-navbar {
	font-family: "Halant", serif;
	font-weight: 500;
	background-color: rgba(149, 153, 138, 0.5);
}

body {
	font-family: "Nunito Sans", sans-serif;
}

a {
	color: rgba(255, 255, 255, 0.7);
}

a:hover {
	color: rgba(255, 255, 255, 0.9);
}

.active-link {
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
	border-bottom: 3px solid #ffec67;
}

.functional-navbar a {
	color: #333;
}

.functional-navbar a:hover {
	color: #999;
	text-decoration: none;

	border-bottom: 3px solid #ccc;
}

.new-btn {
	cursor: pointer;
}

.modal-dialog {
	max-height: 80vw;
	max-width: 50vw;
}

.btn-custom {
	color: whitesmoke;
	background-color: #323e4e;
	border-color: #323e4e;
}

.btn-custom:hover {
	color: white;
	background-color: #526580;
	border-color: #526580;
}

.bg-info {
	color: #402307;
}

.bg-warning {
	color: #545454;
}

.bg-primary {
	color: #141414;
}

.bg-success {
	color: #292929;
}
