nav {
	background-color: rgb(51, 51, 51);
}

.nav-item {
	color: #333;
}

.functional-navbar {
	font-family: "Halant", serif;
	font-weight: 500;
	background-color: rgba(149, 153, 138, 0.5);
}

body {
	font-family: "Nunito Sans", sans-serif;
	background-color: #f0f3f7;
}

a {
	color: rgba(255, 255, 255, 0.7);
}

a:hover {
	color: rgba(255, 255, 255, 0.9);
}

.active-link {
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
	border-bottom: 3px solid #ffec67;
	/*padding-bottom: 15px;*/
}

.functional-navbar a {
	color: #333;
}

.functional-navbar a:hover {
	color: #999;
	text-decoration: none;

	border-bottom: 3px solid #ccc;
}

.new-btn {
	cursor: pointer;
}

.modal-dialog {
	max-width: 50vw;
}
