.modify::after {
  position: absolute;
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
  content: "";
  background-image: url("svg/pencil.svg");
}

.modify:hover {
  cursor: pointer;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #323e4e;
}

.avatar-image:hover {
  cursor: pointer;
}